<h1>User#show</h1>

<h1>Profile Show User</h1>

<%= @user.email %>




<hr>


<div class="row">
  <div class="col-4">
    <h5>Siguiendo: </h5>
    <div><%= @user.total_followers_users %> followers</div>
  </div>
</div>  