<div id="follow-<%= @store.id %>">
  <% if current_user.stores.include?(@store) %>
    <%= link_to 'Unfollow', unfollow_path(@store), method: :delete, remote: true, class: 'btn btn-outline-success' %>
  <% else %>
    <%= link_to 'Follow', follow_path(@store), method: :post, remote: true, class: 'btn btn-outline-success' %>
  <% end %>
</div>